<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nikhil.NsMusics">

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.nikhil.NsMusics.PlaylistsActivity"
            android:label="Playlists" />
        <activity
            android:name="com.nikhil.NsMusics.TrendingsActivity"
            android:label="Trendings" />
        <activity
            android:name="com.nikhil.NsMusics.LatestsActivity"
            android:label="Latests" />
        <activity
            android:name="com.nikhil.NsMusics.ForeverActivity"
            android:label="Forevers" />
        <activity android:name="com.nikhil.NsMusics.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>